.container {
    background-color: #ccc;
    height: 500px;
    display: flex;
    flex-direction: row; /* column, row-reverse, column-reverse */

    flex-wrap: nowrap; /*wrap, wrap-reverse, nowrap, noware-reverse*/

    justify-content: flex-start; /*flex-end, center, space-between, space-around*/

    align-items: stretch; /*flex-start, flex-end, center, baseline*/

    align-content: flex-start; /*flex-start, flex-end, center, baseline*/
}

.item {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 5px;
    width: 30px;
    height: 30px;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20px;

    flex: 1 1 300px;
}

.article-01 {}
.article-02 {}
.article-03 {}
.article-04 {}